body{
    margin: 0;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    min-height: 100vh;
}

.item1 {
    width: 100px;
    height: 100px;
    margin: 2px;
    background-color: lightblue;

}


.item2 {
    width: 100px;
    height: 100px;
    margin: 2px;
    background-color: lightcoral;
}

.item3 {
    width: 100px;
    height: 100px;
    margin: 2px;
    background-color: lightgreen;
}